services:
  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - VPN_SERVICE_PROVIDER=protonvpn
      - VPN_TYPE=openvpn
      - OPENVPN_USER=XB_hlNs4835lLiJbX4bjM96l
      - OPENVPN_PASSWORD=Op3ymGqhNShMnHQEzZEffIND
      - SERVER_COUNTRIES=Netherlands
    restart: always

  poly-bot:
    build: .
    container_name: poly-bot
    network_mode: "service:gluetun"
    depends_on:
      - gluetun
    restart: on-failure
